// Fuentes
$main-font: 'Poppins', sans-serif;

// Tamaño de Media Queries
$phone: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colores
$color-primary: #84d9bc;
$color-secondary: #313c4e; 
$color-secondary-2: rgb( 57 70 89 / .7 );
$black: #000;
$white: #FFFFFF;

$general-gap: 5rem;
